body{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height:640px;
    width:832px;
}

/* .character{

} */

.map{
    height:640px;
    width:832px;
    background-color: forestgreen;
}

.blue-slime{
    height:64px;
    width:64px;
    background-size:64px, 64px;
    background-image: url("blue-slime.png");
    transform:none;
    transition:transform .3s;
}