body{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height:640px;
    width:832px;
}

/* .character{

} */

.map{
    height:640px;
    width:832px;
    background-color: rgb(145, 145, 145);
    text-align: center;
    vertical-align: middle;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.blue-slime{
    height:64px;
    width:64px;
    background-size:64px, 64px;
    background-image: url("blue-slime.png");
    transform:none;
    transition:transform .3s;
    position: fixed;
    z-index:0;
}

.coin{
    height:64px;
    width:64px;
    background-size:32px, 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("coin.png");
    transform:none;
    transition:transform .3s;
    position: fixed;
    z-index:1;
}

.goblin{
    height:64px;
    width:64px;
    background-size:64px, 64px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("goblin.png");
    transform:none;
    transition:transform .3s;
    position: fixed;
    z-index:1;
}

.heart{
    height:64px;
    width:64px;
    background-size:32px, 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("heart.png");
    display:inline-block;
}

.menu{
    height:64px;
    width:auto;
    background-color: rgb(142, 200, 255);
}